#name{
    text-align: center;
    /*font-family: 'Georgia', serif;*/
    color:black;
    size: 48;
    font-weight:bold;
}

#topbar {  
    text-align: center;
    /*font-family: 'Georgia', serif;*/
    font-size: 24;
    color: black;
}

h3{
    color: black;
    /*font-family: 'Georgia', serif;*/
}

p {
    /*font-family: 'Arial', Helvetica, sans-serif; */
}



h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    background: transparent; }