#name {
    text-align: center;
    /*font-family: 'Source Sans Pro', sans-serif;
    /*color:#67ae6d;
    size: 100;*/
    font-family: 'Helvetica', serif;
    color:black;
    position: relative;
    transform: translateY(+10%);
    letter-spacing: 3px;
}

#top {
    min-height:200px;
    
    /*background-image: url("screensaver_bw2.png");*/
}

#header {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

h2 { 
    color: black;
    font-family: 'Helvetica', serif;
    text-align: center;
    font-size: x-large;
    letter-spacing: 2px;  
}

h3 { 
    color: black;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

p {
    font-family: 'Helvetica', sans-serif; 
    line-height:30px;
    font-size: 20px;;
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 4px solid #4B784F;
    margin: 0, 0;
    padding: 0;
    }
    
body {   
    background-color: #F2F2F2;
}

#main {
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 25%;
    margin-right: 25%;  
    

}

#link {
    color: #4B784F
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4B784F;
    color: white;
    text-align: center;
    min-height:5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #E3E3E3;*/
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

li a:hover {
    /*background-color: #a8c6aa;*/
    color: #4B784F;
}

#small {
    display: block;
    height: 0px;
    border: 0;
    border-top: 2px solid #B9B9B9;
    width: 25%;
}

@media screen and (max-width: 1020px) {
    #main {
        margin-top:50px;
        margin-bottom:50px;
        margin-left: 7%;
        margin-right: 7%;  
    }
    #small {
        display: block;
        height: 0px;
        border: 0;
        border-top: 2px solid #B9B9B9;
        width: 40%;
    }
  }
    
  .flex-container {
    display: flex;
    flex-direction: column;
  }
