#name {
    text-align: center;
    /*font-family: 'Source Sans Pro', sans-serif;
    /*color:#67ae6d;
    size: 100;*/
    font-family: 'Goergia', serif;
    color:black;
    size: 300px;
    position: relative;
    transform: translateY(+100%);
}

#top {
    min-height:200px;
    /*background-image: url("screensaver_bw2.png");*/
}

#header {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

h2 { 
    color: black;
    font-family: 'Georgia', serif;
}

h3 { 
color: black;
font-family: 'Helvetica', sans-serif;
}

p {
    font-family: 'Helvetica', sans-serif; 
    line-height:30px;
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 4px solid #4B784F;
    margin: 0, 0;
    padding: 0;
    }
    
body{
        /*background-color: #E3E3E3;*/
        background-color: #F2F2F2;
}

#main {
    margin:50px;
}

#link {
    color: #4B784F
}